# dependencies
node_modules/

# output
dist/
out/
*.tgz

# logs
logs/
*.log

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache/
*.tsbuildinfo

# IDE files
.idea/
.vscode/

# System files
.DS_Store
